doctype html
html
  head
	
   link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", rel="stylesheet", crossorigin="anonymous")
   script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
   script(src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js")
   script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", crossorigin="anonymous")
   meta(name='viewport', content='width=device-width, initial-scale=1')
  style
   include style.css
  
      
	  

body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo03', aria-controls='navbarTogglerDemo03', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          a.navbar-brand(href='#') PuruPuru
          #navbarTogglerDemo03.collapse.navbar-collapse
            ul.navbar-nav.mr-auto.mt-2.mt-lg-0
            div.form-inline.my-2.my-lg-0
              button.btn.btn-outline-success.my-2.my-sm-0(onclick="window.location.href='/Register'") Sign up
              section
        div(class='jumbotron')
          div(class="col col-lg-2")
            h1 Login
              br
              br
              form(action='/Login' id='form' method='POST')
                p(style="font-size:30%;").text-danger#error
                div.form-group
                  lable(for='username')
                  input.form-control#username(type='text', class="form-control", name='username', aria-label='Default', aria-describedby='inputGroup-sizing-sm', placeholder='Username' maxlength = "15")
                  lable(for='password')
                  input.form-control#password(type='password', class="form-control" name='password' aria-label='Default', aria-describedby='inputGroup-sizing-sm', placeholder='Password' maxlength = "35")
                  input.btn.btn-outline-success.my-2.my-sm-0(type='submit', value='sign in')
                
      
script
 
 include js/vali.js
 
